#ignore db configs with passwords in them
easiersolardb.cnf
tqreportingdb.cnf
leadpathdb.cnf
sitebraindb.cnf
#
*.swp
*.swo
*.pyc

# Eclipse IDE files
.project
.pydevproject
.settings


lynx_csv
lynx_csv/*
lynx_errors
lynx_errors/*

tmp
tmp/*

.idea
.idea*

PyMySQL-0.7.11.dist-info/
PyYAML-3.12.dist-info/
Reporting*.zip
SQLAlchemy-1.1.9.dist-info/
appdirs-1.4.3.dist-info/
appdirs.py
bin/
easy_install.py
include/
local/
packaging-16.8.dist-info/
packaging/
pip-9.0.1.dist-info/
pip-selfcheck.json
pip/
pkg_resources-0.0.0.dist-info/
pkg_resources/
pymysql/
pyparsing-2.2.0.dist-info/
pyparsing.py
setuptools-35.0.0.dist-info/
setuptools/
share/
six-1.10.0.dist-info/
six.py
sqlalchemy/
termcolor-1.1.0.dist-info/
termcolor.py
ua_parser-0.7.3.dist-info/
ua_parser/
user_agents-1.1.0.dist-info/
user_agents/
wheel-0.30.0a0.dist-info/
wheel/
yaml/

